<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <system.serviceModel>
    <services>
      <service name="WCF_Demo.Services.CheckAstronautService">
        <endpoint
          address="net.tcp://localhost:8009/CheckAstronauts"
          binding="netTcpBinding"
          contract="WCF_Demo.Contracts.ICheckAstronautsService" />
        <endpoint
            address="net.tcp://localhost:8009/CheckAstronauts"
            binding="netTcpBinding"
            contract="WCF_Demo.Contracts.IFinalCheckAstronautService"
            bindingConfiguration="final" />
      </service>
    </services>
    <bindings>
      <netTcpBinding>
        <binding transactionFlow="true">
          <security mode="None" />
        </binding>
        <binding name="final" transactionFlow="true">
          <security mode="Transport">
            <transport clientCredentialType="Windows" />
          </security>
        </binding>
      </netTcpBinding>
    </bindings>
  </system.serviceModel>
</configuration>