<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <system.serviceModel>
    <services>
        <service name="LuckyMinerWCFService.Service.LuckyMinerService">
          <endpoint address="net.tcp://localhost:1235/LuckyMinerService"
                  binding="netTcpBinding"
                  contract="LuckyMinerWCFService.Contracts.ILuckyMinerServiceContract">
          </endpoint>
        </service>
        <service name="LuckyMinerWCFService.Service.BankService">
          <endpoint address="net.tcp://localhost:1236/BankService"
                    binding="netTcpBinding"
                    contract="LuckyMinerWCFService.Contracts.IBankContract">            
          </endpoint>
        </service>
      <service name="LuckyMinerWCFService.Service.LightService">
        <endpoint address="net.tcp://localhost:1237/LightService"
                  binding="netTcpBinding"
                  contract="LuckyMinerWCFService.Contracts.ILightServiceContract">
        </endpoint>
      </service>
      </services>
      <bindings>
        <netTcpBinding>
          <binding transactionFlow="true"></binding>
        </netTcpBinding>
      </bindings>
  </system.serviceModel>
</configuration>